.internalworkflow {
	border-collapse : collapse;
	border: 1px solid #6690BC;
}

.Action-Item-vs-Responsible-Person, .keyContacts, .bonusProgram{
	border-collapse : collapse;
	border: 1px solid #6690BC;
}

